body {
  font: 300 16px/1.5 "Roboto", Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color:#000000;
  color:#2E6793;
  } 

label{
  color:#888888; 
  text-align: center;
}

h1 {
  padding:5px;
  font-size: 40px;
  text-align: center;
}

h4 {
  /*font-family:sans-serif;*/
  color:#555555; 
  font-size:16px;}

h3 {
  /*font-family:sans-serif; */
  color:#555555;}

p {
  /*font-family:sans-serif; */
  color:#888888; 
  font-size:14px;
}

a {
    /*font-family:sans-serif; */
   /*color:#c70039;*/
   color:#2E6793;
   font-weight: bold;
 }

span{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  font-size:20px;
  cursor:pointer;
}

button, .button {
  font-family: "Roboto", Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 14px;
  margin-right: 8px;
  border: 3px solid #222;
  background: transparent;
  outline: none;
  color: #222;
  opacity: 0.6;
  background: white;
  cursor: pointer;
}
button:hover {
  background: #6FC9C6;
  color: white;
  opacity: 0.6;
}
button[disabled] {
  opacity: 0.5;
}

input, .button {
  font-family: "Roboto", Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 14px;
  margin-right: 8px;
  border: 3px solid #222;
  background: transparent;
  outline: none;
  color: #222;
  opacity: 0.6;
  background: white;
  cursor: pointer;
}

input:hover {
  background: #6FC9C6;
  color: white;
  opacity: 0.6;
}

input[disabled] {
  opacity: 0.5;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-left: 30px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  background-color:#000000;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 10px;}
}